---
import Base from '../layouts/Base.astro';
---
<Base title="关于我">
  <h1 class="post-title">关于我</h1>
  <div class="prose">
    <p>我是 Angus，一个连续创业者，目前旅居海外，陪孩子读书，自己也在读 MBA。</p>
    <p>这里是我的日记本。写日常，写观察，写做事情过程中想明白和没想明白的东西。不追热点，不写教程，只是记录。</p>
    <p>平时在 <a href="https://x.com/XAngus" rel="me">X（@XAngus）</a> 上也发一些短的想法，欢迎来聊。</p>
  </div>
</Base>
